<div class="col">
	<div class="card">
	  <img src=<%= urun.imgUrl %> class="card-img-top" alt=<%= urun.name %> />
	  <div class="card-body">
		<h2 class="card-title"><a href="/product/<%= urun.id %>" ><%= urun.name %></a></h2>
		<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		<button type="button" class=" float-end btn btn-dark btn-lg"><%= urun.price %> ₺</button>
	  </div>
	</div>
  </div>